body {
    background-color: black;
}

#cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-bottom: 80px;
    padding-top: 140px;
}

.card {
    padding: 40px;
    border: 1px solid red;
    border-radius: 10px;
    width: 600px;
    height: 600px;
}

.card img {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

.card h2 {
    text-align: center;
    color: aliceblue;
    margin-bottom: 10px;
    font-weight: 700;
}

.card h4 {
    font-size: 18px;
    padding-top: 15px;
}
